$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.curved-links {
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  .link {
    fill: none;
    stroke: #bbb;
  }
}